:root{
  --welcome-card-bg:#fff;
  --welcome-text:#fff;
  --welcome-bg-start:#5d33be;
  --welcome-bg-end:#8f4cd7;
  --welcome-nav-height: 64px;
  --button-bg: #5C33BE;
  --button-text: #fff;
  --button-font-size: 18px;
  --button-radius: 8px;
  --button-height: 48px; 
  --float-button-bg: #5C33BE;
  --float-button-text: #fff;
}